<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ConnectionString"
      connectionString="Server=b8199b8d-67b9-4fd8-b033-a81e00e43567.sqlserver.sequelizer.com;
      Database=dbb8199b8d67b94fd8b033a81e00e43567;
      User ID=nycdjjgmorzslpyk;
      Password=CTgVp5yNeboPzryfM6UjvaDmbm2g6xYCjN7WAKSJHAevhGdqqXdDZWdBo3UdcrQP;" 
      providerName="System.Data.SqlClient" />
    <add name="superMarketEntities" 
      connectionString="metadata=res://*/Code.Model.csdl|res://*/Code.Model.ssdl|res://*/Code.Model.msl;
      provider=System.Data.SqlClient;
      provider connection string=&quot;
      Server=b8199b8d-67b9-4fd8-b033-a81e00e43567.sqlserver.sequelizer.com;
      Database=dbb8199b8d67b94fd8b033a81e00e43567;
      User ID=nycdjjgmorzslpyk;
      Password=CTgVp5yNeboPzryfM6UjvaDmbm2g6xYCjN7WAKSJHAevhGdqqXdDZWdBo3UdcrQP;&quot;" 
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" />
    <pages enableSessionState="true">
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
  </system.webServer>
  <botDetect helpLinkEnabled="true" helpLinkMode="image" />
</configuration>
<!--ProjectGuid: 7555F1ED-D6DF-4164-BB86-054A321442D2-->